SUPABASE_URL= https://rmyifslwxcrevhcrvroj.supabase.co
SUPABASE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJteWlmc2x3eGNyZXZoY3J2cm9qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4MzkyNjcsImV4cCI6MjA5NjQxNTI2N30.HkamGi2UtR3FFWH1Ttc0cYAOviuocI5FeiVzjfOsDQs
